.datePickerContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.label {
  font-weight: 600;
  font-size: 16px;
  color: #7b7b80;
}

.datePickerInput {
  border: 1px solid #7b7b80;
  border-radius: 8px;
  width: 100%;

  font-weight: 400;
  font-size: 16px;
  color: #000;
  padding: 10px 8px;
  &:focus {
    outline: none;
    // border-color: #6366f1;
    // box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
  }
}

.selectedDate {
  font-size: 0.875rem;
  color: #6b7280;
  &.dark {
    color: #9ca3af;
  }
}
