.page {
  background-image: url('../../../shared/img/RegisterBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
  }
}

.text {
  margin-top: -170px;
}
