.page {
  background-image: url('../../../shared/img/RegisterBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
  &__container {
    display: flex;

    justify-content: space-between;
  }
}

.text {
  height: 100%;
  margin-top: 170px;
}
