.page {
  background-image: url('../../../shared/img/LoginBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
  }
}

.text {
  margin-top: -170px;
  margin-left: 200px;
}

@media (max-width: 1045px) {
  .text {
    display: none;
  }
  .page__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
