.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-weight: 600;
  font-size: 16px;
  color: #7b7b80;
}

.area {
  padding: 10px 15px;
  border-radius: 10px;

  font-weight: 600;
  font-size: 18px;
  color: #000;

  outline: none;
}
